<ul class="social">
  {% if site.author.github %}<li><a href="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i></a></li>{% endif %}
  {% if site.author.twitter %}<li><a href="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>{% endif %}
  {% if site.author.facebook %}<li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li>{% endif %}
  {% if site.author.linkedin %}<li><a href="{{ site.author.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>{% endif %}
</ul>
